---
---

@import "{{ site.theme }}";

.avatar
{
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.pagination
{
    padding: 8px 15px;
    background: #191919;
    border-radius: 2px;
    border: 1px solid #121212;
    text-align: center;
}
